

body.form-validation {
    display: none;
}

.form-validation.show {
    display: block;
}

.form-group{
    margin:10px;

}

.form-group label.error{
    display: block;
    color: red;
}

.form-control {   
    color:black;
    border: 2px solid #CC6666;
    border-radius: 2px;
    margin-left:20%;
    
  }

  .form-label{
    color: white;
  }

  #productform{
    margin-top: 10px;
    font-size: 1rem;
    Border:5px dotted #CC6666;
    padding: 5px;
    margin-bottom: 10px;

    background-color:rgb(30,30,40);
}

.col-3{

  border: 2px solid #6b82a8;
  padding: 25px;

}


.container{
    padding: 10px;
}


.productcard{
    padding: 10px;

}
.badgeproduct{
    position: absolute ;
    left: 0px;
    padding: 5px;
    top: 0px;
    background-color:#6b82a8;
    color: white;
}

.imgdiv{
    position: relative;
}

@media(max-width: 1280px) {
    .col-6{
        max-width: 80%;
    } 
 }

 @media (min-width: 1200px) { 
    .col-6{
        max-width: 75%;
    }  
    #productform{
        width: 750px;
    }
  }
